.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card.warning {
    border: 1px solid lightgreen;
}

.card.danger {
    border: 1px solid red;
}

.card.hoverable:hover {
    border: 1px solid dodgerblue;
    cursor: pointer;
    box-shadow: 2px 2px 8px lightgrey;
}

.form-group-images {
/*
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
*/
}


.img-upload, .card-r {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 2px 8px grey;
    text-align: center;
  
}


#photo-area {
    display: inline-block;
}

/*
.card-r {
    border: 1px solid lightgrey;
    text-align: center;
    margin: 5px 0 5px 0;
}
*/
.card-r span {
    font-weight: bold;
    font-family: monospace;
    color: grey;
}

.card-r:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px lightblue;
    border-radius: 5px;
}
